.App {
  text-align: center;
}

.logo {
  font-family: "Monsieur La Doulaise", cursive;
}

body {
  background-color: #fff3e3;
  font-family: "Fugue", Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
  color: #2a317d !important;
  letter-spacing: 0.7px !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
a {
  color: #e94b51;
  text-decoration: none;
}

.cursor {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.custom-card {
  background-color: #fff3e3;
}

.custom-button {
  color: #2a317d;
  background-color: #fff3e3;
  border-color: #2a317d;
  border-width: thin;
}

.custom-imputs {
  background-color: #fff3e3;
  border-color: #2a317d;
  border-width: thin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.avatar {
  max-width: 100px;
  align-items: center;
  margin: auto;
}

.card {
  max-width: 300px;
}
