* {
  margin-top: 25px;
}

.App {
  text-align: center;
}

.logo {
  font-family: 'Monsieur La Doulaise', cursive;
  margin-bottom: 30px;
  text-align: center;
}
.coffee-shop-icon {
  max-width: 200px;
}

.form {
  text-align: center;
  margin-bottom: 50px;
}

body {
  background-color: #fff3e3;
  font-family: 'Fugue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #2a317d;
  letter-spacing: 0.7px;
}

a {
  color: #e94b51;
  text-decoration: none;
}

.custom-button:hover {
  color: #e94b51;
}

.error {
  color: #e94b51;
}

.cursor {
  cursor: pointer;
}

.navbar {
  display: inline;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centered {
  text-align: center;
  justify-content: center;
}

.navbar:hover {
  color: #2a317d;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.custom-card {
  background-color: #fff3e3;
  text-align: center;
  float: left;

  /* width: 300px; */
  padding: -30px;
}
.card-text {
  height: 300px;
}

.custom-button {
  color: #2a317d;
  background-color: #fff3e3;
  border-color: #2a317d;
  border-width: thin;
  margin-left: 10px;
  margin-right: 10px;
}

.custom-imputs {
  background-color: #fff3e3;
  border-color: #2a317d;
  border-width: thin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.avatar {
  max-width: 100px;
  align-items: center;
  margin: auto;
}

.col-1-of-3 {
  width: calc(100% - 2 * 100vw / 3);
}
